<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<separator label="equk.co.uk"/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					terminal
				</execute>
			</action>
		</item>
		<item label="Anon Browser">
			<action name="Execute">
				<execute>
					midori
				</execute>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<execute>
					firefox
				</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>
					Thunar
				</execute>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<execute>
					geany
				</execute>
			</action>
		</item>
		<item label="Music Player">
			<action name="Execute">
				<execute>
					gogglesmm
				</execute>
			</action>
		</item>
		<item label="Twitter">
			<action name="Execute">
				<execute>
					turpial
				</execute>
			</action>
		</item>
		<item label="Virtualbox">
			<action name="Execute">
				<execute>
					virtualbox
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-523750" label="General">
			<item label="VLC">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
			<item label="Gajim">
				<action name="Execute">
					<execute>
						gajim
					</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>
						filezilla
					</execute>
				</action>
			</item>
			<item label="GIMP">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
			<item label="Keepass">
				<action name="Execute">
					<execute>
						keepassx
					</execute>
				</action>
			</item>
			<item label="Putty">
				<action name="Execute">
					<execute>
					putty
					</execute>
				</action>
			</item>
			<item label="Remote Desktop">
				<action name="Execute">
					<execute>
					remmina
					</execute>
				</action>
			</item>
			<item label="TrueCrypt">
				<action name="Execute">
					<execute>
					truecrypt
					</execute>
				</action>
			</item>
			<item label="Twitter Web">
				<action name="Execute">
					<execute>
					uzbl-browser mobile.twitter.com
					</execute>
				</action>
			</item>
			<item label="Git Gtk Frontend">
				<action name="Execute">
					<execute>
						giggle
					</execute>
				</action>
			</item>
			<item label="BitTorrent">
				<action name="Execute">
					<execute>
						transmission-gtk
					</execute>
				</action>
			</item>
			<item label="Task Manager">
				<action name="Execute">
					<execute>
					xfce4-taskmanager
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-992146" label="Locations">
			<item label="Downloads">
				<action name="Execute">
					<execute>
						thunar ~/Downloads
					</execute>
				</action>
			</item>
			<item label="Documents">
				<action name="Execute">
					<execute>
						thunar ~/Documents
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Graphics" label="Graphics">
			<item label="Document Viewer">
				<action name="Execute">
					<execute>
						evince
					</execute>
				</action>
			</item>
			<item label="GNU Image Manipulation Program">
				<action name="Execute">
					<execute>
						gimp-2.6
					</execute>
				</action>
			</item>
			<item label="Image Viewer">
				<action name="Execute">
					<execute>
						gpicview
					</execute>
				</action>
			</item>
			<item label="MyPaint">
				<action name="Execute">
					<execute>
						mypaint
					</execute>
				</action>
			</item>
			<item label="Viewnior">
				<action name="Execute">
					<execute>
						viewnior
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Network" label="Network">
			<item label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>
						/usr/bin/bssh
					</execute>
				</action>
			</item>
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>
						/usr/bin/bvnc
					</execute>
				</action>
			</item>
			<item label="Chromium">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>
						filezilla
					</execute>
				</action>
			</item>
			<item label="Gajim Instant Messenger">
				<action name="Execute">
					<execute>
						gajim
					</execute>
				</action>
			</item>
			<item label="Mail Reader">
				<action name="Execute">
					<execute>
						exo-open --launch MailReader
					</execute>
				</action>
			</item>
			<item label="Mumble (1.1.X compatible)">
				<action name="Execute">
					<execute>
						mumble11x
					</execute>
				</action>
			</item>
			<item label="Mumble">
				<action name="Execute">
					<execute>
						mumble
					</execute>
				</action>
			</item>
			<item label="Remmina Remote Desktop Client">
				<action name="Execute">
					<execute>
						remmina
					</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>
						transmission-gtk
					</execute>
				</action>
			</item>
			<item label="Web Browser">
				<action name="Execute">
					<execute>
						exo-open --launch WebBrowser
					</execute>
				</action>
			</item>
			<item label="Zenmap (as root)">
				<action name="Execute">
					<execute>
						/usr/share/zenmap/su-to-zenmap.sh
					</execute>
				</action>
			</item>
			<item label="Zenmap">
				<action name="Execute">
					<execute>
						zenmap
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Development" label="Development">
			<item label="Geany">
				<action name="Execute">
					<execute>
						geany
					</execute>
				</action>
			</item>
			<item label="Meld">
				<action name="Execute">
					<execute>
						meld
					</execute>
				</action>
			</item>
			<item label="OpenJDK Monitoring &amp; Management Console">
				<action name="Execute">
					<execute>
						/usr/bin/jconsole
					</execute>
				</action>
			</item>
			<item label="OpenJDK Policy Tool">
				<action name="Execute">
					<execute>
						/usr/bin/policytool
					</execute>
				</action>
			</item>
			<item label="Qt Assistant">
				<action name="Execute">
					<execute>
						/usr/bin/assistant
					</execute>
				</action>
			</item>
			<item label="Qt Designer">
				<action name="Execute">
					<execute>
						/usr/bin/designer
					</execute>
				</action>
			</item>
			<item label="Qt Linguist">
				<action name="Execute">
					<execute>
						/usr/bin/linguist
					</execute>
				</action>
			</item>
		</menu>
		<item label="Wallpaper">
			<action name="Execute">
				<execute>
					nitrogen /home/bradley/Pictures/wallpaper/
				</execute>
			</action>
		</item>
		<menu id="35" label="Settings">
			<item label="Tint2 Config">
				<action name="Execute">
					<execute>
						tint2conf
					</execute>
				</action>
			</item>
			<item label="Composite Settings">
				<action name="Execute">
					<execute>
						cairo-compmgr --configure
					</execute>
				</action>
			</item>
			<item label="Openbox Keybinds">
				<action name="Execute">
					<execute>
						obkey
					</execute>
				</action>
			</item>
			<item label="Openbox Menu Editor">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Openbox Configuration Manager">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Edit Autostart.sh">
				<action name="Execute">
					<execute>
						geany ~/.config/openbox/autostart.sh
					</execute>
				</action>
			</item>
			<item label="Screensaver Settings">
				<action name="Execute">
					<execute>
						xscreensaver-demo
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Edit Openbox Menu">
				<action name="Execute">
					<execute>
						scite ~/.config/openbox/menu.xml
					</execute>
				</action>
			</item>
		</menu>
		<item label="Screenshot">
			<action name="Execute">
				<execute>
					scrot /home/bradley/screenshot.png --delay 3
				</execute>
			</action>
		</item>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>
					xscreensaver-command -lock
				</execute>
			</action>
		</item>
		<item label="Logout">
			<action name="Execute">
				<execute>
					oblogout
				</execute>
			</action>
		</item>
		<menu id="client-list-combined-menu"/>
	</menu>
</openbox_menu>
