<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<separator label="equk.co.uk"/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					xfce4-terminal
				</execute>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<execute>chromium --audio-buffer-size=2048</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>
					Thunar
				</execute>
			</action>
		</item>
		<item label="chrome test">
			<action name="Execute">
				<execute>chromium --user-data-dir=/home/bradley/www/chrome_dev --cache-dir=/home/bradley/www/chrome_dev/cache --no-proxy-server</execute>
			</action>
		</item>
		<item label="Mini Browser">
			<action name="Execute">
				<execute>
					qupzilla
				</execute>
			</action>
		</item>
		<item label="PyCharm">
			<action name="Execute">
				<execute>
					pycharm
				</execute>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<execute>
					geany
				</execute>
			</action>
		</item>
		<item label="rxvt unicode">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="Music Player">
			<action name="Execute">
				<execute>
					deadbeef
				</execute>
			</action>
		</item>
		<item label="Tor">
			<action name="Execute">
				<execute>
					vidalia
				</execute>
			</action>
		</item>
		<item label="Manage eBooks">
			<action name="Execute">
				<execute>
					calibre
				</execute>
			</action>
		</item>
		<item label="Virtualbox">
			<action name="Execute">
				<execute>
					virtualbox
				</execute>
			</action>
		</item>
		<item label="RSS Viewer">
			<action name="Execute">
				<execute>
					liferea
				</execute>
			</action>
		</item>
		<item label="FTP">
			<action name="Execute">
				<execute>
					gnome-commander
				</execute>
			</action>
		</item>
		<item label="Shatter">
			<action name="Execute">
				<execute>
					shatter
				</execute>
			</action>
		</item>
		<item label="EVE Online">
			<action name="Execute">
				<execute>
					/home/bradley/scripts/eve.sh
				</execute>
			</action>
		</item>
		<item label="Frozen Synapse">
			<action name="Execute">
				<execute>
					frozensynapse
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-523750" label="General">
			<item label="VLC">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
			<item label="CD/DVD Burning">
				<action name="Execute">
					<execute>
						xfburn
					</execute>
				</action>
			</item>
			<item label="FTP">
				<action name="Execute">
					<execute>
						gftp
					</execute>
				</action>
			</item>
			<item label="GIMP">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
			<item label="Keepass">
				<action name="Execute">
					<execute>
						keepassx
					</execute>
				</action>
			</item>
			<item label="Putty">
				<action name="Execute">
					<execute>
					putty
					</execute>
				</action>
			</item>
			<item label="Remote Desktop">
				<action name="Execute">
					<execute>
					remmina
					</execute>
				</action>
			</item>
			<item label="TrueCrypt">
				<action name="Execute">
					<execute>
					truecrypt
					</execute>
				</action>
			</item>
			<item label="Git Gtk Frontend">
				<action name="Execute">
					<execute>
						giggle
					</execute>
				</action>
			</item>
			<item label="Record Desktop">
				<action name="Execute">
					<execute>
						gtk-recordMyDesktop
					</execute>
				</action>
			</item>
			<item label="BitTorrent">
				<action name="Execute">
					<execute>
						transmission-gtk
					</execute>
				</action>
			</item>
			<item label="Task Manager">
				<action name="Execute">
					<execute>
					xfce4-taskmanager
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-992146" label="Locations">
			<item label="Downloads">
				<action name="Execute">
					<execute>
						thunar ~/Downloads
					</execute>
				</action>
			</item>
			<item label="Documents">
				<action name="Execute">
					<execute>
						thunar ~/Documents
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Graphics" label="Graphics">
			<item label="Document Viewer">
				<action name="Execute">
					<execute>
						evince
					</execute>
				</action>
			</item>
			<item label="GNU Image Manipulation Program">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
			<item label="Viewnior">
				<action name="Execute">
					<execute>
						viewnior
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Network" label="Network">
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>
						/usr/bin/bvnc
					</execute>
				</action>
			</item>
			<item label="Mumble (1.1.X compatible)">
				<action name="Execute">
					<execute>
						mumble11x
					</execute>
				</action>
			</item>
			<item label="Mumble">
				<action name="Execute">
					<execute>
						mumble
					</execute>
				</action>
			</item>
			<item label="Remmina Remote Desktop Client">
				<action name="Execute">
					<execute>
						remmina
					</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>
						transmission-gtk
					</execute>
				</action>
			</item>
			<item label="Web Browser">
				<action name="Execute">
					<execute>
						exo-open --launch WebBrowser
					</execute>
				</action>
			</item>
			<item label="Zenmap (as root)">
				<action name="Execute">
					<execute>
						/usr/share/zenmap/su-to-zenmap.sh
					</execute>
				</action>
			</item>
			<item label="Zenmap">
				<action name="Execute">
					<execute>
						zenmap
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Development" label="Development">
			<item label="Meld">
				<action name="Execute">
					<execute>
						meld
					</execute>
				</action>
			</item>
			<item label="OpenJDK Monitoring &amp; Management Console">
				<action name="Execute">
					<execute>
						/usr/bin/jconsole
					</execute>
				</action>
			</item>
			<item label="OpenJDK Policy Tool">
				<action name="Execute">
					<execute>
						/usr/bin/policytool
					</execute>
				</action>
			</item>
			<item label="Qt Assistant">
				<action name="Execute">
					<execute>
						/usr/bin/assistant
					</execute>
				</action>
			</item>
			<item label="Qt Designer">
				<action name="Execute">
					<execute>
						/usr/bin/designer
					</execute>
				</action>
			</item>
			<item label="Qt Linguist">
				<action name="Execute">
					<execute>
						/usr/bin/linguist
					</execute>
				</action>
			</item>
		</menu>
		<item label="Wallpaper">
			<action name="Execute">
				<execute>
					nitrogen /home/bradley/Pictures/wallpaper/
				</execute>
			</action>
		</item>
		<menu id="35" label="Settings">
			<item label="AMD Catalyst Control Center">
				<action name="Execute">
					<execute>
						amdcccle
					</execute>
				</action>
			</item>
			<item label="Tint2 Config">
				<action name="Execute">
					<execute>
						tint2conf
					</execute>
				</action>
			</item>
			<item label="Openbox Keybinds">
				<action name="Execute">
					<execute>
						obkey
					</execute>
				</action>
			</item>
			<item label="Openbox Menu Editor">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Openbox Configuration Manager">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Edit Autostart.sh">
				<action name="Execute">
					<execute>
						subl ~/.config/openbox/autostart.sh
					</execute>
				</action>
			</item>
			<item label="Screensaver Settings">
				<action name="Execute">
					<execute>
						xscreensaver-demo
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Edit Openbox Menu">
				<action name="Execute">
					<execute>
						scite ~/.config/openbox/menu.xml
					</execute>
				</action>
			</item>
		</menu>
		<item label="Screenshot">
			<action name="Execute">
				<execute>
					shutter
				</execute>
			</action>
		</item>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>
					xscreensaver-command -lock
				</execute>
			</action>
		</item>
		<item label="Logout">
			<action name="Execute">
				<execute>
					oblogout
				</execute>
			</action>
		</item>
		<menu id="client-list-combined-menu"/>
	</menu>
</openbox_menu>
