<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="Terminal">
			<action name="Execute">
				<execute>
					terminal
				</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>
					Thunar
				</execute>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<execute>
					chromium
				</execute>
			</action>
		</item>
		<item label="Twitter">
			<action name="Execute">
				<execute>
					uzbl-browser mobile.twitter.com
				</execute>
			</action>
		</item>
		<item label="Music Player">
			<action name="Execute">
				<execute>
					sonata
				</execute>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<execute>
					geany
				</execute>
			</action>
		</item>
		<item label="Pidgin Internet Messenger">
			<action name="Execute">
				<execute>
					pidgin
				</execute>
			</action>
		</item>
		<item label="FileZilla FTP client">
			<action name="Execute">
				<execute>
					filezilla
				</execute>
			</action>
		</item>
		<item label="GIMP Image Editor">
			<action name="Execute">
				<execute>
					gimp
				</execute>
			</action>
		</item>
		<item label="Keepass Password DB">
			<action name="Execute">
				<execute>
					gtkpass
				</execute>
			</action>
		</item>
		<item label="Putty">
			<action name="Execute">
				<execute>
					putty
				</execute>
			</action>
		</item>
		<item label="Remote Desktop">
			<action name="Execute">
				<execute>
					remmina
				</execute>
			</action>
		</item>
		<item label="TrueCrypt">
			<action name="Execute">
				<execute>
					truecrypt
				</execute>
			</action>
		</item>
		<item label="BitTorrent Client">
			<action name="Execute">
				<execute>
					transmission-gtk
				</execute>
			</action>
		</item>
		<item label="Task Manager">
			<action name="Execute">
				<execute>
					xfce4-taskmanager
				</execute>
			</action>
		</item>
		<item label="MPD Update Library">
			<action name="Execute">
				<execute>
					/home/bradley/mpd_upd.sh
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="28" label="Games">
			<item label="Heroes Of Newerth">
				<action name="Execute">
					<execute>
						/home/bradley/HoN/hon.sh
					</execute>
				</action>
			</item>
			<item label="Torchlight">
				<action name="Execute">
					<execute>
						/home/bradley/torchlight.sh
					</execute>
				</action>
			</item>
			<item label="Steam">
				<action name="Execute">
					<execute>
						/home/bradley/scripts/steam.sh
					</execute>
				</action>
			</item>
			<item label="GuildWars">
				<action name="Execute">
					<execute>
						/home/bradley/scripts/gw.sh
					</execute>
				</action>
			</item>
			<item label="Hedgewars">
				<action name="Execute">
					<execute>
							hedgewars
					</execute>
				</action>
			</item>
			<item label="TeeWorlds">
				<action name="Execute">
					<execute>
							teeworlds
					</execute>
				</action>
			</item>
		</menu>
		<menu id="30" label="Network">
			<item label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>
						bssh
					</execute>
				</action>
			</item>
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>
						bvnc
					</execute>
				</action>
			</item>
			<item label="Chromium">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="FileZilla">
				<action name="Execute">
					<execute>
						filezilla
					</execute>
				</action>
			</item>
			<item label="Irssi">
				<action name="Execute">
					<execute>
						xterm -e irssi
					</execute>
				</action>
			</item>
			<item label="Mumble">
				<action name="Execute">
					<execute>
						mumble
					</execute>
				</action>
			</item>
			<item label="Mumble (1.1.X compatible)">
				<action name="Execute">
					<execute>
						mumble11x
					</execute>
				</action>
			</item>
			<item label="Pidgin Internet Messenger">
				<action name="Execute">
					<execute>
						pidgin
					</execute>
				</action>
			</item>
			<item label="TkVNC">
				<action name="Execute">
					<execute>
						xterm -e tkvnc
					</execute>
				</action>
			</item>
			<item label="wireshark">
				<action name="Execute">
					<execute>
						wireshark
					</execute>
				</action>
			</item>
			<item label="Xbiff">
				<action name="Execute">
					<execute>
						xbiff
					</execute>
				</action>
			</item>
			<item label="Zenmap">
				<action name="Execute">
					<execute>
						zenmap
					</execute>
				</action>
			</item>
			<item label="Zenmap (as root)">
				<action name="Execute">
					<execute>
						/usr/share/zenmap/su-to-zenmap.sh
					</execute>
				</action>
			</item>
		</menu>
		<item label="Wallpaper">
			<action name="Execute">
				<execute>
					nitrogen /home/bradley/Pictures/wallpaper/
				</execute>
			</action>
		</item>
		<menu id="35" label="Settings">
			<item label="Tint2 Config">
				<action name="Execute">
					<execute>
						tint2conf
					</execute>
				</action>
			</item>
			<item label="Composite Settings">
				<action name="Execute">
					<execute>
						cairo-compmgr --configure
					</execute>
				</action>
			</item>
			<item label="Openbox Menu Editor">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Nvidia Control Center">
				<action name="Execute">
					<execute>
						nvidia-settings
					</execute>
				</action>
			</item>
			<item label="Openbox Configuration Manager">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Screensaver Settings">
				<action name="Execute">
					<execute>
						xscreensaver-demo
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Edit Openbox Menu">
				<action name="Execute">
					<execute>
						scite ~/.config/openbox/menu.xml
					</execute>
				</action>
			</item>
		</menu>
		<item label="Screenshot">
			<action name="Execute">
				<execute>
					scrot /home/bradley/screenshot.png --delay 3
				</execute>
			</action>
		</item>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>
					xscreensaver-command -lock
				</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
